<div class="about-container">
    <div class="about-header">
      <img src="assets/miagegpt-logo.png" class="about-logo" alt="MiageGPT Logo">
      <h1>À propos</h1>
    </div>
    
    <div class="about-content">
      
      
      <h2>Les Développeurs</h2>
      <p>
        Ce projet a été développé par un groupe d'étudiants en première année de MASTER à BIOT, dans le cadre d'un projet universitaire.
      </p>
      <h3>Leurs noms</h3>
      <p>
        Arthur PRUDENT, Pierre SAVE et Siham TABBAA
      </p>
    </div>
    
    <div class="about-navigation">
      <button mat-raised-button color="primary" [routerLink]="['/home']" class="home-button">Retour à l'accueil</button>
      <button mat-raised-button color="accent" [routerLink]="['/chat']" class="chat-button">Commencer un Chat</button>
    </div>
  </div>