
<div class="model-selector">
  <label for="model-select">Choose GPT Model:</label>
  <select id="model-select" [(ngModel)]="selectedModel">
    <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
    <option value="gpt-4">GPT-4</option>
  </select>
</div>
<div class="chat-container">
    <div class="chat-body">
      <!-- Affichez les messages ici -->
    <div class="message" *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'User', 'bot-message': message.sender === 'MiageGPT'}">
        <span class="message-sender">{{ message.sender }}</span>
        <span class="message-content">{{ message.content }}</span>
      </div>
    </div>
  
    <div class="chat-input-container">
      <input [(ngModel)]="userInput" class="chat-input" placeholder="Écrivez votre message...">
      <button class="send-button" (click)="sendMessage()">Envoyer</button>
    </div>
  </div>
  