<div class="sidenav-header">
    <div class="logo-container">
        <img src="assets/PrideGPT-Logo.png" class="logo">
    </div>
    <div class="logo-text" >
        PrideGPT
    </div>
</div>
<mat-nav-list class="nav-list">
    <a mat-list-item *ngFor="let data of navData" class="nav-list-items" [routerLink]="data.routeLink">
        <mat-icon matListItemIcon class="nav-list-icons">{{data.icon}}</mat-icon>
        <span matListItemLine class="nav-list-label">{{data.label}}</span>
    </a>
</mat-nav-list>
<mat-nav-list class="new-chat-container">
    <a mat-list-item class="new-chat" [routerLink]="chat.routeLink">
        <mat-icon matListItemIcon class="new-chat-icons">add_comment</mat-icon>
        <span matListItemLine class="new-chat-text">New Chat</span>
    </a>
    <app-history></app-history>
</mat-nav-list>