.sidenav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.sidenav-header .logo {
    width: 3rem;
    height: 3rem;

}
.sidenav-header .logo-text {
    color: #0A053B;
    font-size: 1.5rem;
    font-weight: 700;
}

/*----------------- NAV LIST CONTENT -----------------*/
.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border: #0A053B;
    border-width: 0 0 2px 0;
    border-style: solid;
}

.nav-list .nav-list-icons {
    color: #0A053B;
    font-size: 1.5rem;
}

.nav-list .nav-list-label {
    color: #0A053B;
    font-size: 1rem;
    font-weight: 500;
}

.nav-list .nav-list-items:hover {
    background-color: #0A053B;

    .nav-list-icons {
        color: #F2F1E8;
    }

    .nav-list-label {
        color: #F2F1E8;
    }
}

/*----------------- NEW CHAT -----------------*/
.new-chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.new-chat-container .new-chat-icons {
    color: #0A053B;
    font-size: 1.5rem;
}

.new-chat-container .new-chat-text {
    color: #0A053B;
    font-size: 1rem;
    font-weight: 500;
}

.new-chat:hover {
    background-color: #0A053B;

    .new-chat-icons {
        color: #F2F1E8;
    }

    .new-chat-text {
        color: #F2F1E8;
    }
}