<mat-toolbar class="miagegpt-toolbar">
    <button mat-icon-button (click)="toggleSidenav()" class="sidenav-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title-selector">
        <div class="title">
            <span class="miagegpt-title">PrideGPT</span>
        </div>
        <div class="model-selector">
            <select id="model-select" [(ngModel)]="selectedModel" (change)="changeModel($event)" class="model-selector">
                <option value="gpt-3.5-turbo">3.5 Turbo</option>
                <option value="gpt-4">4</option>
            </select>
        </div>
    </div>
    <button mat-icon-button [routerLink]="chat.routeLink" class="new-chat-button">
      <mat-icon>add_comment</mat-icon>
    </button>
</mat-toolbar>
  
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" [style.width]="'250px'">
        <app-sidenav-content></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content class="miagegpt-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  