<div class="home-container">
    <div class="home-header">
      <img src="assets/miagegpt-logo.png" class="home-logo" alt="MiageGPT Logo">
      <h1>Bienvenue sur MiageGPT</h1>
    </div>
    
    <div class="home-content">
      <p>
        MiageGPT est une version améliorée de ChatGPT, capable de faire bien plus que répondre à des questions textuelles.
        Voici ce que MiageGPT peut faire pour vous :
      </p>
      <ul>
        <li>Gestion de chat classique avec historique</li>
        <li>Génération d'images avec Dall-E et Stable Diffusion</li>
        <li>Réponses vocalisées</li>
        <li>Informations sur la Miage et les points d'intérêt touristiques de Sophia-Antipolis</li>
        <li>Et bien plus encore...</li>
      </ul>
      <p>
        Utilisez les commandes spéciales pour accéder à des fonctionnalités avancées :
      </p>
      <ul>
        <li><code>/image</code> pour générer des images avec Dall-E</li>
        <li><code>/speech</code> pour obtenir une réponse vocalisée</li>
        <li><code>/stable-diffusion</code> pour utiliser les services de Stable Diffusion</li>
      </ul>
    </div>
    
    <div class="home-navigation">
      <button mat-raised-button color="primary" [routerLink]="['/chat']">Commencer un Chat</button>
      <button mat-raised-button color="accent" [routerLink]="['/about']">En savoir plus</button>

      <div class="api-key-input">
        <mat-form-field appearance="fill">
          <mat-label>Entrez votre clé OpenAI</mat-label>
          <input matInput [(ngModel)]="openaiApiKey" placeholder="Votre clé OpenAI">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="saveApiKey()">Enregistrer</button>
      </div>
      
    </div>
  </div>